In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import plotly as py
import warnings 
warnings.filterwarnings("ignore")

from plotly.offline import init_notebook_mode, iplot, plot
init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.io as pio
import plotly.figure_factory as ff

In [34]:
veri=pd.read_csv("universite_siralamasi.csv")
veri.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011

In [35]:
veri. columns

Index(['world_rank', 'university_name', 'country', 'teaching', 'international',
       'research', 'citations', 'income', 'total_score', 'num_students',
       'student_staff_ratio', 'international_students', 'female_male_ratio',
       'year'],
      dtype='object')

In [36]:
veri.rename(columns={'world_rank' : "dunya_siralaması",
                'university_name': "universite_adi",
                 'country'       : "ülke",
                 'teaching'      : "ögretim",
                  'international': "uluslararasi",
                  'research'     : "araştırma",
                  'citations'    : "alinti",
                  'income'       : "gelir",
                  'total_score'  : "toplam_puan",
                  'num_students' : "ogrenci_sayisi",
            'student_staff_ratio': "ogrenci_calisan_orani",
        'international_students' : "uluslararası_ogrenci",
            'female_male_ratio'  : "kadin_erkek_ogrenci",
                    'year'       : "yıl"},inplace=True)

In [37]:
veri.columns

Index(['dunya_siralaması', 'universite_adi', 'ülke', 'ögretim', 'uluslararasi',
       'araştırma', 'alinti', 'gelir', 'toplam_puan', 'ogrenci_sayisi',
       'ogrenci_calisan_orani', 'uluslararası_ogrenci', 'kadin_erkek_ogrenci',
       'yıl'],
      dtype='object')

In [38]:
df=veri.iloc[:100,:]
df.head(1)

,dunya_siralaması,universite_adi,ülke,ögretim,uluslararasi,araştırma,alinti,gelir,toplam_puan,ogrenci_sayisi,ogrenci_calisan_orani,uluslararası_ogrenci,kadin_erkek_ogrenci,yıl
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011

In [39]:
pio.templates.default="simple_white"

In [40]:
cizgi1=go.Scatter(x=df.dunya_siralaması,
                  y=df.alinti,
                  mode="lines+markers",
                  name="Alıntı",
                  marker=dict(color='rgba(78,78,250,0.85)'),
                  text=df.universite_adi)

cizgi2=go.Scatter(x=df.dunya_siralaması,
                  y=df.ögretim,
                  mode="lines+markers",
                  name="Eğitim-Öğretim Faaliyetleri",
                  marker=dict(color='rgba(78,78,250,0.85)'),
                  text=df.universite_adi)

veri=[cizgi1,cizgi2]
yerlesim=dict(title="Dünya Sıralamasında İlk 100 Üniversitenin Atıf ve Eğitin-Öğretim Puanları",
             xaxis=dict(title="Dünya Sıralaması",ticklen=5,zeroline=False))
fig=dict(data=veri,layout=yerlesim)
plot(fig,filename='1_cizgi-alıntı ve öğretim puanları.html')

'1_cizgi-alıntı ve öğretim puanları.html'

In [41]:
veri2014=df[df.yıl==2011].iloc[:5,:]

cizgi1=go.Bar(x=veri2014.universite_adi,
                  y=veri2014.alinti,
                  name="alıntı",
                  marker=dict(color='rgba(255,127,40,0.5)',
                  line=dict(color='rgb(0,0,0)',width=1.5)),
                  text=veri2014.ülke)

cizgi2=go.Bar(x=veri2014.dunya_siralaması,
                  y=veri2014.ögretim,                 
                  name="Eğitim-Öğretim Faaliyetleri",
                  marker=dict(color='rgba(64,10,128,0.5)',
                  line=dict(color='rgb(0,0,0)',width=1.5)),
                  text=veri2014.ülke)

veri_=[cizgi1,cizgi2]
yerlesim=go.Layout(barmode="group")
fig=go.Figure(data=veri_ ,layout=yerlesim)
plot(fig,filename='2_cubuk-alıntı ve öğretim puanları.html')

'2_cubuk-alıntı ve öğretim puanları.html'

In [45]:
veri2011=df[df.yıl==2011].iloc[:8,:]
dilim1=veri2011.ogrenci_sayisi
dilim1_liste=[float(each.replace(",",".")) for each in veri2011.ogrenci_sayisi]
etiketler=veri2011.universite_adi

cizgi=go.Pie(labels=etiketler,
             values=dilim1_liste,
             hoverinfo='label+value+percent',
             textinfo='value+percent',
             textfont=dict(size=8),
             rotation=180,
             hole=0.3,
             marker=dict(line=dict(color="#000000",width=1)))

veri_=[cizgi]
yerlesim=dict(title="2011 Yılı - İlk 8 Üniversitesinin Öğrenci Sayıları Ve Oranları",
              legend=dict(orientation="h"))
fig=dict(data=veri_,layout=yerlesim)
plot(fig,filename="3_dairesel-öğrenci sayısı.html")

'3_dairesel-öğrenci sayısı.html'

In [47]:
veri2011=df[df.yıl==2011].iloc[:20,:]
ogrenci_sayisi=[float(each.replace(",",".")) for each in veri2011.ogrenci_sayisi]
uluslararasi_renk=[float(each) for each in veri2011.uluslararasi]
data=[{"y":veri2011.öğretim,
       "x":veri2011.dunya_siralaması,
       "mode":"markers",
       "marker":{"color":uluslararasi_renk,
                 "size":ogrenci_sayisi,
                 "showscale":True},
       "text":veri2011.universite_adi}]

plot(data,filename="4_kabarcık-öğrenci sayısı.html")

ValueError: could not convert string to float: '-'